<%= link_to "Add a new movie", new_movie_path  %>

<div class="container my-5">

    <h2><strong>All Movies</strong></h2>
    <h5 class="mb-5">Choose a Movie</h5>

  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-md-4">

        <div class="card-container cc-hover mb-4">
          <% if movie.image %>
            <%= image_tag movie.image, width: 100 %>
          <% end %>
          <div class="card-container-infos">
            <h2 class="text-left"><%= movie.title  %></h2>
            <h4 class="mt-3 text-justify"><%= movie.description %></h4>
              <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
          </div>

          <div class="text-center mb-4">
            <h4 class="mb-2"><strong><%= movie.language %> </strong></h4>
          <div class="mt-5 text-right"><%= link_to "CHECK THIS MOVIE", movie_path(movie), { class: "btn btn-outline-dark font-weight-bold" }%></div>          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
