<%
provide(:title, "Edit user")
%> 

  <div class="container">
    <h1>Update your profile</h1>
    <%= simple_form_for(@user) do |f| %>
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :biography %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :language %>
    <%= f.input :is_filmmaker, as: :boolean, checked_value: true, unchecked_value: false %>
    <%= f.submit "Save changes", class: "btn btn-large btn-primary"%>
    <% end %>
  </div>