<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card-form">
        <div class="card-form-display">
        <h3> Forgot your password</h3>
        <p>No worries! Enter your email and we will send you a link to reset your password</p>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
        
          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>
        
          <div class="form-actions text-center">
            <%= f.button :submit, "Reset Password", class: "btn rounded forgot-pass" %>
          </div>
        <% end %>
        <p class="p-center">Back to <%= link_to "Log in", new_session_path(resource_name) %></p>
        <p class="p-center">Don't have an account?<%= link_to "Sign up", new_registration_path(resource_name) %></p>
        </div>
      </div>
  </div>
</div>
