



<div class="container my-5">
  <h2 class="mb-4"><strong>Sign in.</strong> KinoKlik</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="card-form">
        <img src="https://cdn.dribbble.com/users/2264632/screenshots/6708631/final.gif" />
        <div class="card-form-display">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.input :email, required: false, autofocus: true, placeholder: "email", label:"Enter your email address", input_html: { autocomplete: "email" } %>
            <%= f.input :password, required: false, placeholder: "******", label:"Enter your password", input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <%= f.button :submit, "SIGN IN", class: "btn btn-outline-primary " %>
          <% end %>
        </div>
      </div>
    <div class="mt-5 text-right"><%= render "devise/shared/links" %></div>
    </div>
  </div>
</div>
