<div class="sidebar" data-color="purple" data-background-color="white" data-image=<%= asset_path('sidebar-1.jpg') %>>
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <a href="" class="simple-text logo-normal">
      KinoKlik
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active  ">
          <%= link_to root_path, class: 'nav-link' do %>
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        <% end %>
      </li>
      <li class="nav-item ">
        <%= link_to movies_path, class: 'nav-link' do %>
          <i class="material-icons">person</i>
          <p>User Profile</p>
        <% end %>
      </li>
      <li class="nav-item ">
        <%= link_to movies_path, class: 'nav-link' do %>
          <i class="material-icons">content_paste</i>
          <p>Table List</p>
        <% end %>
      </li>
      <li class="nav-item ">
        <%= link_to movies_path, class: 'nav-link' do %>
          <i class="material-icons">library_books</i>
          <p>Typography</p>
        <% end %>
      </li>
      <li class="nav-item ">
        <%= link_to movies_path, class: 'nav-link' do %>
          <i class="material-icons">bubble_chart</i>
          <p>Icons</p>
        <% end %>
      </li>
      <li class="nav-item ">
        <%= link_to movies_path, class: 'nav-link' do %>
          <i class="material-icons">location_ons</i>
          <p>Maps</p>
        <% end %>
      </li>
      <li class="nav-item ">
        <%= link_to root_path, class: 'nav-link' do %>
          <i class="material-icons">notifications</i>
          <p>Notifications</p>
        <% end %>
      </li>
      <li class="nav-item ">
        <%= link_to movies_path, class: 'nav-link' do %>
          <i class="material-icons">language</i>
          <p>RTL Support</p>
        <% end %>
      </li>
      <li class="nav-item active-pro ">
        <a class="nav-link" href="./upgrade.html">
          <i class="material-icons">unarchive</i>
        </a>
      </li>
    </ul>
  </div>
</div>
